.DS_Store
data/
homework/.DS_Store
homework/.ipynb_checkpoints/
homework/Day_001_example_of_metrics.ipynb
homework/Day_001_example_of_metrics_Ans.ipynb
homework/Day_003-1_build_dataframe_from_scratch.ipynb
homework/Day_003-2_read_and_write_files.ipynb
homework/Day_003-3_read_and_write_files.ipynb
homework/Day_004_column_data_type.ipynb
homework/Day_006_outliers_detection.ipynb
homework/Day_007_handle_outliers.ipynb
