.DS_Store
data/
homework/.DS_Store
homework/.ipynb_checkpoints/
homework/Day_001_example_of_metrics.ipynb
homework/Day_001_example_of_metrics_Ans.ipynb
homework/Day_003-1_build_dataframe_from_scratch.ipynb
homework/Day_003-2_read_and_write_files.ipynb
homework/Day_003-3_read_and_write_files.ipynb
homework/Day_004_column_data_type.ipynb
homework/Day_006_outliers_detection.ipynb
homework/Day_007_handle_outliers.ipynb
homework/Day_006_outliers_detection_Ans.ipynb
homework/Day_008_dataFrame_operation.ipynb
homework/Day_009_correlation_example.ipynb
homework/Day_010-supplementary_correlation_and_plot_with_different_range.ipynb
homework/Day_011_EDA_KDEplots.ipynb
homework/Day_008_dataFrame_operation_Ans.ipynb
homework/Day_012_discretizing.ipynb
homework/Day_014_EDA_subplots.ipynb
homework/Day_015_EDA_heatmap.ipynb
homework/Day_016_first_model.ipynb
homework/Day_017_Introduction_of_Feature Engineering.ipynb
homework/Day_018_Feature_Types.ipynb
homework/Day_019_Fill_NaN_and_Scalers.ipynb
homework/Day_020_Outliers.ipynb
homework/Day_021_Reduce_Skewness.ipynb
homework/Day_022_LabelEncoder_and_OneHotEncoder.ipynb
homework/Day_023_Mean_Encoder.ipynb
homework/Day_024_CountEncoder_and_FeatureHash.ipynb
homework/Day_025_DayTime_Features.ipynb
homework/Day_026_Feature_Combination.ipynb
homework/Day_027_GroupBy_Encoder.ipynb
homework/Day_028_Feature_Selection.ipynb
homework/Day_029_Feature_Importance.ipynb
homework/Day_030_Leaf_Encoding.ipynb
homework/Day_034_train_test_split.ipynb
homework/Day_036_evaluation_metrics.ipynb
homework/Day_038_regression_model.ipynb
homework/Day_040_lasso_ridge_regression.ipynb
homework/Day_042_decision_tree.dot
homework/Day_042_decision_tree.ipynb
homework/Day_044_random_forest.ipynb
homework/Day_046_gradient_boosting_machine.ipynb
homework/Day_047_hyper_parameter_tunning.ipynb
homework/Day_48_HW.ipynb
homework/Day_049_Blending.ipynb
homework/Day_050_Stacking.ipynb
homework/Day_51_ Midterm_Exam.ipynb
homework/Day_055_kmean_sample.ipynb
homework/Day_056_kmean.ipynb
homework/Day_057_hierarchical_clustering_sample.ipynb
homework/Day_058_hierarchical_clustering.ipynb
homework/Day_059_PCA_sample.ipynb
homework/Day_060_PCA.ipynb
homework/Day_061_tsne_sample.ipynb
homework/Day_062_tsne.ipynb
homework/Day_066-Keras_Introduction.ipynb
homework/Day_067-Keras_Dataset_Introduce.ipynb
homework/Day_068-Keras_Sequential_Model.ipynb
homework/Day_069-keras_Module_API.ipynb
homework/Day_070-Keras_Mnist_MLP_Sample.ipynb
homework/Day_071-LossFunction.ipynb
homework/Day_072-Activation_function.ipynb
homework/Day_073_Gradient Descent.ipynb
homework/Day_074-Gradient Descent_Math_Description.ipynb
homework/Day_074_Gradient Descent_Math.ipynb
homework/Day_075-Back_Propagation.ipynb
homework/Day_075-Back_Propagation_Advanced.ipynb
